RewriteEngine On
RewriteRule "index.html" "index.php?controller=Shop&action=main"
RewriteRule "payment.html" "index.php?controller=Shop&action=payment"
RewriteRule "item.html" "index.php?controller=Shop&action=list_item"
RewriteRule "contact.html" "index.php?controller=Branch&run=contact"
RewriteRule "shop.html" "index.php?controller=Shop&action=product"
#RewriteRule "user.html" "index.php?controller=Branch&run=user_view"
RewriteRule "login.html" "index.php?controller=Shop&action=login"
RewriteRule "logout.html" "index.php?controller=Shop&action=logout"
RewriteRule "adlog.html" "index.php?controller=Shop&action=admin_log"
RewriteRule "register.html" "index.php?controller=Shop&action=register"
RewriteRule "wish.html" "index.php?controller=Shop&action=wishlist"
#RewriteRule "admin.html" "index.php?controller=Branch&run=admin"
RewriteRule "list.html" "index.php?controller=Shop&action=list"
RewriteRule "success.html" "index.php?controller=Shop&action=success"
RewriteRule "process.html" "index.php?controller=Shop&action=process"
RewriteRule "avatar.html" "index.php?controller=Shop&action=add_avatar"
RewriteRule "account.html" "index.php?controller=Branch&run=account"
RewriteRule "about.html" "index.php?controller=Branch&run=about"
RewriteRule "product_add.html" "index.php?controller=Shop&action=add"
RewriteRule "cate_add.html" "index.php?controller=Shop&action=add_category"
RewriteRule "pay_view.html" "index.php?controller=Branch&run=payment_view"
RewriteRule "women.html" "index.php?controller=Branch&run=women_outfit"
RewriteRule "baby.html" "index.php?controller=Branch&run=baby_outfit"
RewriteRule "access.html" "index.php?controller=Branch&run=accessories"
RewriteRule "cate_view.html" "index.php?controller=Branch&run=cate_view"
RewriteRule "idetail.html" "index.php?controller=Branch&run=item_detail"
RewriteRule "pro.html" "index.php?controller=Branch&run=pro"
RewriteRule "^update_status/([0-9]+).html$" "?controller=Shop&action=update_status&id=$1"
