.container_header{
    width:100%;
    height:auto;
    margin:auto;
    overflow:hidden;
}
.container_header .header{
    width:1340px;
    height:100px;
    margin:auto;
    overflow: hidden;
    border-bottom:1px solid #333;
}
.header .nav-bar{
    width:100%;
    overflow:hidden;
}
.nav-bar .bar {
    display: inline-flex;
    width: 100%;
    height: 100px;
}
.container_header .sub-bar{
    width:1340px;
    height:50px;
    overflow:hidden;
    background-color:#fff;
    text-align:center;
}
.container_header .sub-bar .inside-sub{
    height:50px;
    width:95%;
    margin-right:auto;
    margin-left:auto;
}
.inside-sub .table,th,a{
    border: 1px solid #ccc; background-color:pink;
    text-align:center;
    text-transform:uppercase;
    font-family:'Courier New', Courier, monospace;
    color:green;
}
.inside-sub th:hover{
    background-color:aqua;
    color:black;
    cursor: pointer;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.inside-sub th a{
    text-decoration: none;
}
.bar #search form input {
    border: none;
    width: 450px;
    visibility: visible;
    height: 50px;
    background-color:yellow;
}
.bar #search form button{
    width:60px;
    background-color:#F94B3F;
    border:none;
}
.bar #search{
    width:600px;
    height:100px;
    text-align: center;
    margin:25px;
}
.bar #search form{
    display:flex;
}
.bar .logo{
    width:370px;
    text-align: center;
}
.bar .shopping-cart{
    width:340px;
   text-align: center;
   margin:15px;
   cursor: pointer;
}

.container_header .slide{
    width:100%;
    height:500px;
    margin:auto;
}
.bar .logo img{
   width:150px;
   height:70px;
   margin:12px;
}
.shopping-cart i mark{
    font-size:20px;
}
.shopping-cart span{
    position:absolute;
    margin-left:-125px;
    margin-top:5px;
    font-size:15px;
    color:#333;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    border:1px solid #fff;
    background-color: #fff;
}
.container_header .slide .sub-slide{
    width:100%;
    height:350px;
    margin:5px;
    margin-top: 50px;
}
.slide .sub-slide .item img{
    width:100%;
    height:350px;
    margin:5px;
    overflow:hidden;
}
.slide .sub-slide .item{
    margin:3px;
}
.product-thing{
    width:1340px;
    height:400px;
}
.product-thing legend{
    width:100%;
    height:50px;
    text-align:center;
    text-transform: uppercase;
    font-style: italic;
    font-size:25px;
    color:#333;
    background-color: cyan;
}
.product-thing .product-list #product-list .item img{
   width:350px;
   height:300px;
}